<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.defyApps.myandroidsamples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.defyApps.myandroidsamples.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.LayoutsMainActivity"
            android:label="@string/title_activity_layouts_main" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.ui.layouts.LinearLayoutHorizActivity"
            android:label="@string/title_activity_linear_layout_horiz" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.ui.layouts.LinearLayoutVerticalActivity"
            android:label="@string/title_activity_linear_layout_vertical" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.ui.layouts.RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.ui.layouts.TableLayoutActivity"
            android:label="@string/title_activity_table_layout" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.LifeCycleMainActivity"
            android:label="@string/title_activity_main_life_cycle" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.ui.lifecycles.LifeCycleAActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_life_cycle_a" >
        </activity>
        <activity
            android:name="com.defyApps.myandroidsamples.ui.lifecycles.LifeCycleBActivity"
            android:label="@string/title_activity_life_cycle_b" >
        </activity>
        <activity android:name="com.defyApps.myandroidsamples.module.login.LoginActivity"
            android:label="@string/label_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.defyApps.myandroidsamples.module.login.RegistrationActivity"
            android:label="@string/label_sign_up" >
        </activity>
        
    </application>

</manifest>